// tailwind.config.js
/** @type {import('tailwindcss').Config} */
module.exports = {
  content: [
    // WAŻNE: Dostosuj ścieżki do swoich szablonów!
    './**/templates/**/*.html',
    './templates/**/*.html',
    './**/forms.py',
    // './ścieżka/do/twoich/plików/**/*.{html,js,py}' // Ogólny wzorzec
  ],
  theme: {
    extend: {
      // Tutaj możesz rozszerzać domyślny motyw, np.:
      // colors: {
      //   'brand-blue': '#007bff',
      // },
    },
  },
  plugins: [
    // Tutaj dodajesz wtyczki, jeśli ich potrzebujesz
  ],
}